
/* General Styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Header */
header {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

nav li {
  margin-right: 20px;
}

nav li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* project container */
.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
}

/* project tile */
.project-tile {
  width: calc(50% - 20px);
  margin-bottom: 40px;
  position: relative;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  /* for mobile view, display 1 project per row */
  .project-tile {
    width: 100%;
  }
}

/* back tile (Only single tile right now)*/
.project-back {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  height: 250px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}



